<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/solo.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
	<!--[if lt IE 9]>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
	<![endif]-->
</head>
<body>
  <a class="github-fork-ribbon" href="http://github.com/necrobuffalo/ops-glossary" title="Fork me on GitHub">Fork me on GitHub</a>

  <article>
   <div class="container">
    <h3>{{ page.title }}</h3>

    {{ content }}
     </div>
   </article>

</body>
</html>
